.checkout{
    display: flex;
    height: max-content;
    background-color: #fff;
    padding: 20px;
}
.checkout__title{
   padding: 20px;
   margin-right: 15px;
   border-bottom: 1px solid lightgray;
}
.checkout__ad {
    width: 100%;
    margin-bottom: 20px;
}
.checkout__left {
    margin-right: 20px;
}
